{% extends "overview.html" %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <h4 style="text-align:center;">{{ message }}</h4>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="container">
  <h1>Products</h1>
  <div>
    <h3 style="display: inline-block; margin:0;">Manage products</h3>
    <button type="button" class="btn btn-add" data-toggle="modal" data-target="#productModal">
      <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>Add Product
    </button>
  </div>

  <!-- Modal for adding product -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true" style="margin-top:150px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="productModalLabel">Add Product</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('create_product') }}" method="post">
            {{ form.csrf_token() }}
            {{ form.prodname.label(class="form-control-label") }}<br>
            <div class="form-group">
              {{ form.prodname(class="form-control form-control-lg") }}
            </div>
            {{ form.prodqty.label(class="form-control-label") }}<br>
            <div class="form-group">
              {{ form.prodqty(class="form-control form-control-lg") }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div class="add-product">
            {{ form.addsubmit(class="btn btn-primary") }}
          </div>
        </div>
          </form>
      </div>
    </div>
  </div>
  <!-- End modal -->

  {% if products|length > 0 %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.prod_name }}</td>
            <td>{{ product.prod_qty }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No products to display.</p>
  {% endif %}
</div>
{% endblock content %}